/* RESET */
img {
    max-width: 100%;
}

/* ROOT */
:root {
    --header-footer-bg-color: #2C3E50;
    --aqua-green-bg-color: #1ABC9C;
    --debug-col-bg-color: #BA4B63;
    --footer-top-bg-color: #3A546D;
}

/* COMMON */
.ms_primary_section {
    color: white;
    background-color: var(--aqua-green-bg-color);
}

.ms_section-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.ms_star {
    font-size: 2rem;
}

/* HEADER */

header {
    background-color: var(--header-footer-bg-color);
    height: 80px;
    /* debug */
    border: 1px solid black;
}

/* MAIN */
/* HERO */

.ms_hero-section {
    /* debug */
    min-height: 10rem;
}

.ms_section-title img {
    width: 15rem;
}

hr {
    display: inline-block;
    vertical-align: middle;
    border: 3px solid white;
    border-color: white;
    border-radius: 3px;
    min-width: 15%;
    opacity: 1;
}

.ms_star {
    vertical-align: middle; 
}



/* PORTFOLIO SECTION */

.card {
    /* debug */
    background-color: var(--debug-col-bg-color);
}

/* ABOUT SECTION */

/* FORM SECTION */

.ms_form-section {
    /* debug */
    border: 1px solid black;
    min-height: 20rem;
}

/* FOOTER */
footer {
    color: white;
}

.ms_footer-top {
    background-color: var(--footer-top-bg-color);
}

.ms_footer-bottom {
    background-color: var(--header-footer-bg-color);
    /* debug */
    min-height: 4rem;
}


